alias zl='$EDITOR ~/.zshrc.local'

alias mvim="NVIM_APPNAME='mvim' nvim"

alias gti="git"
alias pm="pnpm"

alias claude="claude --effort max"

alias tf='terraform'

# If Eza installed register aliases + help function
if command -v eza &> /dev/null; then 
  alias ls='eza'
  alias l='eza -lbF --git'
  alias la='eza -lbaF --git'
  alias llm='eza -lbGd --git --sort=modified'
  alias ll='eza -lbhHigUmuSa --time-style=long-iso --git'
  alias lx='eza -lbhHigUmuSa@ --time-style=long-iso --git'

  # specialty views
  alias lS='eza -1'
  alias lt='eza --tree --level=2'
  alias l.="eza -a | grep -E '^\.'"
fi 
